{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="home">    
    <h1 class="login-title">Welcome to Dayly.</h1>
    <p class="login-form">Dayly combines all of your productivity tools into one space. No more having to switch between multiple applications. Dayly Calendar, Tasks, and Notes on one application.</p>
    </div>
    <form class="login" action="/register" method="post">
        <div class="input-group">
            <input id="inputField" required class="input-area" type="text" autocomplete="off" autofocus name="username" type="text">
            <label for="inputField" class="label">Username</label>
        </div>
        <div class="input-group">
            <input type="password" id="inputField" required class="input-area" autocomplete="off" autofocus name="password" type="password">
            <label for="inputField" class="label">Password</label>
        </div>
        <div class="input-group">
            <input type="password" id="inputField" required class="input-area" autocomplete="off" autofocus name="confirmation" type="password">
            <label for="inputField" class="label">Confirm</label>
        </div>
        <button class="login-register" type="submit">Register</button>
    </form>
{% endblock %}
